# Pandas Tutorial - Day 11

- Install Pandas Command

In [ ]:
# pip install pandas

- Import Pandas Library

In [ ]:
import pandas as pd
import numpy as np

- Pandas Object Creation Method

1.  Creating an Empty DataFrame

In [ ]:
empty=pd.DataFrame()
print(empty)

2. Creating  Dataframe from Lists

In [ ]:
data=[10,20,30,40,50] #data

df=pd.DataFrame(data,columns=['Marks'])
print(df)

 3. Creating Pandas DataFrame from lists of lists.

In [ ]:
data=[
    [1,'Faizan',86]
    ,[2,'Sahid',98]
    ,[3,'Resham',23]
    ,[4,'Asif',45]
    ,[5,'Sikander',56]
    ]
df=pd.DataFrame(data,columns=['Rollno','Names','Marks'])
print(df)  
df.dtypes

4.  Creating DataFrame from dict of narray/lists

In [101]:
data={
    'Rollno': [1,2,3,4,5],
    'Names' : ['faizan','shahid','chand','arshad','imran'],
    'Marks' : [56,76,23,45,83]
    }
df=pd.DataFrame(data)
print(df)  
df.loc[3]

   Rollno   Names  Marks
0       1  faizan     56
1       2  shahid     76
2       3   chand     23
3       4  arshad     45
4       5   imran     83

Rollno         4
Names     arshad
Marks         45
Name: 3, dtype: object

5. Creating Dataframe with Series

In [ ]:
s=pd.Series([1,2,3,4,5,7,8,9,10,11,12,13])
print(s)

A. Filtering Data

- Sort

In [91]:
date=pd.date_range(start='1/7/22',periods=5)
print(date,"\n")

newdf=pd.DataFrame(data=data,index=date)
print("\n",newdf)

newdf.sort_index(axis=1,ascending=False)

DatetimeIndex(['2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
               '2022-01-11'],
              dtype='datetime64[ns]', freq='D')


             Rollno   Names  Marks
2022-01-07       1  faizan     56
2022-01-08       2  shahid     76
2022-01-09       3   chand     23
2022-01-10       4  arshad     45
2022-01-11       5   imran     83

            Rollno   Names  Marks
2022-01-07       1  faizan     56
2022-01-08       2  shahid     76
2022-01-09       3   chand     23
2022-01-10       4  arshad     45
2022-01-11       5   imran     83

- Selection by Column Wise

In [103]:
df['Rollno']

0    1
1    2
2    3
3    4
4    5
Name: Rollno, dtype: int64

- Row Wise Selection

In [89]:
print("\n",df[0:])
print("\n",df[0:2])
print("\n",df[2:4])

    Rollno   Names  Marks
0       1  faizan     56
1       2  shahid     76
2       3   chand     23
3       4  arshad     45
4       5   imran     83

    Rollno   Names  Marks
0       1  faizan     56
1       2  shahid     76

    Rollno   Names  Marks
2       3   chand     23
3       4  arshad     45

In [123]:
newdf.loc[]

Rollno         1
Names     faizan
Marks         56
Name: 2022-01-07 00:00:00, dtype: object