# Pandas Tutorial - Day 11

- Install Pandas Command

In [41]:
# pip install pandas

- Import Pandas Library

In [42]:
import pandas as pd
import numpy as np

- Pandas Object Creation Method

1.  Creating an Empty DataFrame

In [43]:
empty=pd.DataFrame()
print(empty)

Empty DataFrame
Columns: []
Index: []

2. Creating  Dataframe from Lists

In [44]:
data=[10,20,30,40,50] #data

df=pd.DataFrame(data,columns=['Marks'],index=['faizan','arshad','shahid','chand','asif'])
print(df)
df.loc['arshad']

        Marks
faizan     10
arshad     20
shahid     30
chand      40
asif       50

Marks    20
Name: arshad, dtype: int64

 3. Creating Pandas DataFrame from lists of lists.

In [45]:
data=[
    [1,'Faizan',86]
    ,[2,'Sahid',98]
    ,[3,'Resham',23]
    ,[4,'Asif',45]
    ,[5,'Sikander',56]
    ]
df=pd.DataFrame(data,columns=['Rollno','Names','Marks'])
print(df)  
df.dtypes

   Rollno     Names  Marks
0       1    Faizan     86
1       2     Sahid     98
2       3    Resham     23
3       4      Asif     45
4       5  Sikander     56

Rollno     int64
Names     object
Marks      int64
dtype: object

4.  Creating DataFrame from dict of narray/lists

In [46]:
data={
    'Rollno': [1,2,3,4,5],
    'Names' : ['faizan','shahid','chand','arshad','imran'],
    'Marks' : [56,76,23,45,83]
    }
df=pd.DataFrame(data)
print(df)  
df.iloc[3]

   Rollno   Names  Marks
0       1  faizan     56
1       2  shahid     76
2       3   chand     23
3       4  arshad     45
4       5   imran     83

Rollno         4
Names     arshad
Marks         45
Name: 3, dtype: object

5. Creating Dataframe with Series

In [47]:
s=pd.Series([1,2,3,4,5,7,8,9,10,11,12,13])
print(s)

0      1
1      2
2      3
3      4
4      5
5      7
6      8
7      9
8     10
9     11
10    12
11    13
dtype: int64

A. Filtering Data

- Sort

In [48]:
date=pd.date_range(start='1/7/22',periods=5)
print(date,"\n")

newdf=pd.DataFrame(data=data,index=date)
print("\n",newdf)

newdf.sort_index(axis=1,ascending=False)

DatetimeIndex(['2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
               '2022-01-11'],
              dtype='datetime64[ns]', freq='D')


             Rollno   Names  Marks
2022-01-07       1  faizan     56
2022-01-08       2  shahid     76
2022-01-09       3   chand     23
2022-01-10       4  arshad     45
2022-01-11       5   imran     83

            Rollno   Names  Marks
2022-01-07       1  faizan     56
2022-01-08       2  shahid     76
2022-01-09       3   chand     23
2022-01-10       4  arshad     45
2022-01-11       5   imran     83

- Selection by Column Wise

In [49]:
df['Rollno']

0    1
1    2
2    3
3    4
4    5
Name: Rollno, dtype: int64

- Row Wise Selection

In [50]:
print("\n",df[0:])
print("\n",df[0:2])
print("\n",df[2:4])

    Rollno   Names  Marks
0       1  faizan     56
1       2  shahid     76
2       3   chand     23
3       4  arshad     45
4       5   imran     83

    Rollno   Names  Marks
0       1  faizan     56
1       2  shahid     76

    Rollno   Names  Marks
2       3   chand     23
3       4  arshad     45

In [62]:
serires1 = pd.Series(['faizan','shahid','asif'])
serires2 = pd.Series(['28','39','40'])

print(serires1)
print(serires2)

dataframe1=pd.DataFrame({'Name' : serires1,'Marks' : serires2})
print("After taking series1,series2 in dataframe:\n",dataframe1)

0    faizan
1    shahid
2      asif
dtype: object
0    28
1    39
2    40
dtype: object
After taking series1,series2 in dataframe:
      Name Marks
0  faizan    28
1  shahid    39
2    asif    40