In [1]:
import pandas as pd

#create pandas DataFrame
df = pd.DataFrame({'hours': [1, 1, 1, 2, 2, 2, 2, 2, 3, 3,
                             3, 4, 4, 4, 5, 5, 6, 7, 7, 8],
                   'score': [68, 76, 74, 80, 76, 78, 81, 84, 86, 83,
                             88, 85, 89, 94, 93, 94, 96, 89, 92, 97]})

#view first five rows of DataFrame

In [2]:
df.head()

   hours  score
0      1     68
1      1     76
2      1     74
3      2     80
4      2     76

In [3]:
#define Independent variable
x=df[['hours']]
x.head()

   hours
0      1
1      1
2      1
3      2
4      2

In [4]:
#define predictor variable
y=df['score']
y.head()

0    68
1    76
2    74
3    80
4    76
Name: score, dtype: int64

# Step 2: Fit a Regression Model

- Next, weâ€™ll use the OLS() function from the statsmodels library to fit a simple linear regression model using score as the response variable and hours as the predictor variable:

In [5]:
# Import Ols stats
import statsmodels.api as sm

# Add Constant to predictor Variables
x=sm.add_constant(x)
x

    const  hours
0     1.0      1
1     1.0      1
2     1.0      1
3     1.0      2
4     1.0      2
5     1.0      2
6     1.0      2
7     1.0      2
8     1.0      3
9     1.0      3
10    1.0      3
11    1.0      4
12    1.0      4
13    1.0      4
14    1.0      5
15    1.0      5
16    1.0      6
17    1.0      7
18    1.0      7
19    1.0      8

In [6]:
#fit the Linear Regression Model
model=sm.OLS(y,x).fit()
model

# Step 3: Calculate SST, SSR, and SSE
 - we can use the following formulas to calculate the SST, SSR, and SSE values of the model:

In [15]:
import numpy as np

In [21]:
# Sum of square Error
sse=np.sum((model.fittedvalues - df.score)**2)
sse

331.07488479262656

In [22]:
# Sum of square Regression
ssr=np.sum((model.fittedvalues - df.score.mean())**2)
ssr

917.475115207374

In [23]:
sst=sse+ssr
sst

1248.5500000000006