In [39]:
# Import the library

import pandas as pd

In [40]:
df=pd.read_csv('mldata(biryani).csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

Covert Gender to dummy Values

In [41]:
# pd.get_dummies(df['gender'])

In [42]:
df['gender']=df['gender'].replace('Male',1)

In [43]:
df['gender']=df['gender'].replace('Female',0)

In [44]:
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [45]:
# Selecting of input and output variable
X=df[['weight','gender']]
y=df[['likeness']]

In [46]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [47]:
y.head()

  likeness
0  Biryani
1  Biryani
2  Biryani
3  Biryani
4  Biryani

In [48]:
# Machine Learning Algorithm

from sklearn.tree import DecisionTreeClassifier

# Create and Fit all the data
model=DecisionTreeClassifier().fit(X,y)

# Prediction
model.predict([[56,0]])

c:\Users\Khan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [49]:
# How to Measure the Accuray of our Model
## Split the Data into test and train

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2)

# Create Model and Fit
Model=DecisionTreeClassifier().fit(X_train,y_train)


predicted_values=model.predict(X_test)
predicted_values

actual_value=y_test

## Checking The score
score=accuracy_score(actual_value,predicted_values)
score*100

67.3469387755102

In [50]:
# To Save our Model
import joblib


from sklearn.tree import DecisionTreeClassifier

# Create and Fit all the data
model1=DecisionTreeClassifier().fit(X,y)

# To Save Model
joblib.dump(model1,"Foodie.joblib")

['Foodie.joblib']

In [51]:
# To load The Model using Load Function
a=joblib.load("Foodie.joblib")

In [55]:
# Graphical Representation of Decision tree
import pandas as pd
from msilib.schema import Feature
from sklearn import tree

# Create and Fit all the data
model1=DecisionTreeClassifier().fit(X,y)

# Graphical Evaluation
tree.export_graphviz(model1,
                     out_file="Foodie.dot",
                     feature_names=['age','gender'],
                     
                     label='all',
                     rounded=True,
                     filled=True)

In [56]:
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [ ]:
# X=df[['weight','gender','height','age']]
# y=df[['likeness']]

# # Machine Learning Algorithm

# from sklearn.tree import DecisionTreeClassifier

# # Create and Fit all the data

# Model=DecisionTreeClassifier().fit(X_train,y_train)

# model.predict([[56,0,111,25]])